*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    /*font-family: 'Anton', sans-serif;*/
}
.main-header{
	width: 1226px;
	height: 120px;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-box{
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
    width: 170px;
    list-style: none;
}
.Nimes{
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
}
.wrap-1{
	display: flex;
    justify-content: space-between;
    width: 60px;
}
.promo{
	width: 1226px;
	height: 600px;
	background: #F1F2F4;
	display: flex;
    align-items: center;
    justify-content: center;
}
.subtitle{
	font-family: 'Work Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #727A82;
}
.title{
	font-family: 'Anton';
    font-style: normal;
    font-size: 128px;
    line-height: 193px;
    display: flex;
    align-items: center;
    color: #151C22;
}
.button{
	width: 219px;
	height: 64px;
	background: #151C22;
	color: #FFFFFF;
	font-family: 'Work Sans';
	font-weight: 700;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: 30px;
}
.button:hover{
    transition: 0.6s;
    background: #2f3439;
    color: #e0e0e0;
    box-shadow: 1px 2px 4px black;
}
.woman:hover{
    transition: 1s;
    opacity: 80%;
}
.people:hover{
    transition: 1s;
    opacity: 80%;
}
.people-2:hover{
    transition: 1s;
    opacity: 80%;
}
.people-3:hover{
    transition: 1s;
    opacity: 80%;
}
.button-2:hover{
    transition: 0.6s;
    background: #2f3439;
    color: #e0e0e0;
    box-shadow: 1px 2px 4px black;
}
.woman-2:hover{
    color: #4b4848;
    transition: 0.6s;
}
.man:hover{
    color: #4b4848;
    transition: 0.6s;
}
.new:hover{
    color: #4b4848;
    transition: 0.6s;
}
.wrap-2{
	width: 430px;
	height: 300px;
}
.wrapper{
	display: flex;
	justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 517px;
}
.section-1{
    font-family: 'Work Sans';
    width: 1226px;
    height: 600px;
}
.header-1{
    width: 1176px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-section-1{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #151C22;
}
.wrapper-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1226px;
    height: 350px;
}
.text-section-1{
   font-size: 18px;
    color: #151C22;
    line-height: 21px;
    text-decoration: underline; 
}
.name{
    font-size: 18px;
    line-height: 21px;
    color: #151C22;
}
.price{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #151C22;
}
.section-box{
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section-box2{
    width: 200px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header-2{
    width: 1176px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-section-2{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #151C22;
}
.text-section-2{
   font-size: 18px;
    color: #151C22;
    line-height: 21px;
    text-decoration: underline; 
}
.section-2{
    font-family: 'Work Sans';
    width: 1226px;
    height: 600px;
}
.wrapper-3{
    height: 400px;
    width: 1176px;
    display: flex;
}
.box-1{
    width: 370px;
    height: 350px;
    background: #F1F2F4;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}
.people-2{
     display: flex;
     align-self: flex-start;
}
.minibox{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

}
.text2-section-2{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #151C22;
}
.text3-section2{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.text4-section2{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #727A82;

}
.button-2{
    width: 200px;
    height: 64px;
    background: #151C22;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3{
    font-family: 'Work Sans';
    width: 1226px;
    height: 600px;
}
.header-3{
    width: 1176px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-section-3{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #151C22;
}
.text-section-3{
   font-size: 18px;
    color: #151C22;
    line-height: 21px;
    text-decoration: underline; 
}
.box-2{
    height: 400px;
    width: 1176px;
    display: flex;
    justify-content: space-between;
}
.footer{
    font-family: 'Work Sans';
    height: 200px;
    width: 1226px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    background: #151C22;
}
.end-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.subtitle-2{
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
}
.end-wrap{
    width: 550px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.end-wrap-2{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.link{
    text-decoration:none;
    color: #000000;
}